<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Index</title>
    
    
<style>
    body{
    background: black;
}

section#linke{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    height: 150px;
    margin:auto;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.37);
    font: normal 18px Arial;
    text-align: center;
}

div#link{
    text-align: center;
}

	footer{
    color: white;
    text-align:center;
    font-style: normal; 
	}

</style>
    
</head>
<body>


<section id="linke">

<h1>Clique para Agendar.</h1>


    <div id="link">
    	<a href="chamarcadastro">Cadastro </a>
    </div>
  

</section>

<footer>
    <p> &copy; Atividade NT - Direitos Autorais Kevin Keller </p>
</footer>
</body>
</html>